header {
}

header .wrap {

}

header .wrap nav {

  grid-template-columns: 1fr auto;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-top: 10px;
  row-gap: 10px;
}
header .wrap nav h1 {

  grid-column: 1 / span 2;
  grid-row: 1;
  justify-self: center;
}
header .wrap nav h1::before{
 
}
header .wrap nav h1:hover::before{
 
}
header .wrap nav h1 a {
  background-image: url(../img/hitelogo.png);
  font-size: 0;
  width: 149px;
  display: block;
  height: 56px;
  background-size: contain;
  background-repeat: no-repeat;
}
header .wrap nav h1 a span {
  
}
header .wrap nav ul.gnb {
 
  grid-column: 1;
  grid-row: 2;
}
header .wrap nav ul.gnb li {
  
  padding: 30px 30px;
}
header .wrap nav ul.gnb li a {
 
}
header .wrap nav ul.gnb li a:hover{
 
}

/* 기타메뉴 */
header .wrap nav ul.enb {
 
  grid-column: 2;
  grid-row: 2;
  justify-self: right;
}
header .wrap nav ul.enb li {
  
  padding: 30px 18px;
}
header .wrap nav ul.enb li a {

}
header .wrap nav ul.enb li a:hover {
 
}
header .wrap nav ul.enb li:nth-child(1) a::after,header .wrap nav ul.enb li:nth-child(2) a::after{

}
